
h1 {
    color: rgb(101, 20, 20);
text-align: center;
}

h2 {
    font-size: 16px;
    text-align: center;
}

h3 {
    background-color: lightgray;
    font-weight: lighter;
}

span {
    font-style: italic;
}



/* font-style: italic;
font-size: 16px;
text-align: center;
font-weight: lighter;
color: rgb(101, 20, 20);
text-align: center;
background-color: lightgray; */