body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
}

aside {
    height: 70vh;
}

header, footer {
    height: 15vh;
}

header {
    background-color: blue;
    grid-column: 1 / -1;
}

aside {
    background-color: green;
}

main {
    background-color: red;
    grid-column: 2 / span 3;
}

footer {
    background-color: purple;
    grid-column: 1 / -1;
}