.classHeadline {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: thistle;
}

.classListe {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cornflowerblue;
}