@font-face {
    font-family: 'Oswald-Variable';
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: hsl(0, 79%, 92%);
    /* color: white; */
}

html {
    font-size: 62.5%;
}

body {
    /* margin: 4rem; */
}

.container {
    max-width: 800px;
    margin: auto;
}

.farbe {
    background-color: hsl(0, 79%, 82%);;
    padding: 3rem 0;
    margin: 3rem 0;
    border-radius: 50% 30% 60% 20%;
}

.text-center {
    text-align: center;
}

h1 {
    font-family: 'Oswald-Variable';
    font-weight: 200;
    font-size: 7rem;
    text-decoration: underline; /* Linie aktivieren */
    text-decoration-color: lightcoral; /* Farbe festlegen */
    text-decoration-style: solid; /* Stil der Linie */
    margin: 1rem 0 .5rem 0;
}

p {
    font-family:'Oswald-Variable', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #363636;
    hyphens: auto;
    font-weight: 300;
    font-size: 1.6rem;
    margin: .7rem 0;
}

div {
    /* background-color: antiquewhite; */
}

article {
    display: inline-block;
    margin-right: 2rem;
}

article p {
    max-width: 350px;
    min-height: 50px;
    padding: .5rem;
    border: .8rem solid lightcoral;
    box-shadow: 0 0 0 .3rem  hsl(0, 79%, 82%);
    margin: 1.5rem 0;
}

button {
    font-size: 3rem;
    background-color: lightcoral;
    padding: 1em;
    /* padding: 30px; */
    margin-bottom: 10rem;
}
