section {
    background-color: linen;
}
section h1 {
    background-color: lightblue;
}

article {
    background-image: url('../img/nature.avif');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}